@font-face {
    font-family: Font;
    src: url(http://eurorust.github.io/font.ttf);
}
h1 {
    font-family: "Font";
}
body {
    background-image: url("http://eurorust.github.io/bg.jpg");
    background-color: #cccccc;
}
