@font-face {
    font-family: Font;
    src: url(http://eurorust.github.io/font.ttf);
}
h1 {
    font-family: "Font";
    color: white;
    font-size: 175;
}
body {
    background-image: url("http://eurorust.github.io/bg.jpg");
    background-color: #cccccc;
    color: white;
}
p {
    color: #0080ff;
}
